body {
    margin: 0;
    padding: 0;
    background-color: #F3F2EE;
    color: #343A40;
    font-size: 16px;
    font-family: "Roboto", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 3.5rem;

    h1, h2, h3, h4 {
        font-family: 'Oxygen';
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        margin-top: 20px;
    }

    nav#navbar {
        padding: 0;

        li {
            a {
                padding: 1rem;
                color: #D9D7BF;

                &:hover {
                    color: #FFF;
                }
                &.active {
                    background-color: #555F69;
                    color: #FFF;
                }
            }
        }
    }

    .jumbotron {
        background-color: #8183A6;
        color: #EDEEF2;
        border-radius: 0;
    }

    form {
        margin-top: 20px;

        input[type="text"], textarea.form-control {
            background-color: #FFFEFA;
        }

        textarea {
            resize: none;
        }
    }

    #words_page {
        textarea#content {
            border: none;
            background-color: #F3F2EE;

            &:focus {
                outline: none;
            }
        }

        #words_form_submit {
            display: none;
        }
    }

    #projects_page {
        table {
            tr {
                cursor: pointer;

                td.actions {
                    width: 15%;

                    button {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

